body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}
img{
    position: relative;
    width: 200px;
    height: 200px; /* Set height to match width for a perfect circle */
    border-radius: 50%; /* Use 50% to create a circular shape */
    overflow: hidden; /* Ensure content within the circle doesn't overflow */
}

header {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
}

header img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: #e0e0e0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}